### Node ###
node_modules

### Linux ###
*~

### Bower ###
bower_components

### Netbeans ###
.netbeans.xml

### WebStorm ###
.idea

### Application ###
# CSS #
*.css
logs

### Coverage ###
.coveralls.yml
test/coverage/*
