extends layout

block styles
  link(rel="stylesheet", href="/canvas/styles/main.css")

block content

  .container
    h1=title
    h2 Coming soon...

  script(src="/canvas/scripts/app.js")
  script(src="/canvas/scripts/controllers/main.js")