extends layout

block styles
  link(rel="stylesheet", href="/index/styles/main.css")

block content

  .container
    .jumbotron
      .page-header
        h1 Laboratory
          small
            |  
            span(class=['glyphicon', 'glyphicon-chevron-left'])
            span(class=['glyphicon', 'glyphicon-chevron-right'])
            |  by 
            a(href="https://github.com/Duvo/labs" target="_blank") Duvo

  script(src="/index/scripts/app.js")
  script(src="/index/scripts/controllers/main.js")