extends layout

block styles
  link(rel="stylesheet", href="/index/styles/main.css")

block content

  .container
    h1=title

  script(src="/index/scripts/app.js")
  script(src="/index/scripts/controllers/main.js")