<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <base href="/index">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/index/styles/main.css">
  </head>
  <body ng-app="indexApp">
    <div class="container" ng-controller="MainController">
      <input type="text" ng-model="index">
      <h1>{{index}}</h1>
      <h2>Blablabla {{index}} blibli</h2>
    </div>


    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    
    <script src="/index/scripts/app.js"></script>
    <script src="/index/scripts/controllers/main.js"></script>
  </body>
</html>