<!doctype html>
<html ng-app="indexApp" ng-controller="MainController">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <base href="/index">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/index/styles/main.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/img/labs-logo.png" alt="Labs"> Labs</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul id="main-nav" class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/angular-ui">Angular UI</a></li>
            <li><a href="/socket">Socket</a></li>
            <li><a href="/canvas">Canvas</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container">
      <h1>{{title}}</h1>
    </div>


    <!--[if lt IE 9]>
    <script src="/bower_components/es5-shim/es5-shim.js"></script>
    <script src="/bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular/angular.js"></script>

    <script src="/index/scripts/app.js"></script>
    <script src="/index/scripts/controllers/main.js"></script>
  </body>
</html>