#game #grid {
  width: 600px;
  position: relative;
}
#game #grid .border {
  position: absolute;
  border: 1px solid #666;
}
#game #grid .border .line .cell {
  display: inline-block;
  border: 1px solid #666;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
#game #grid .border .line .cell.selected {
  background-color: #d48989;
}
#game #grid .border .line .cell.selectedOther {
  color: darkgoldenrod;
}
